#container {
  display: inline-block;
  position: relative;
}
#startBtn {
  border: 2px solid black;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  font-size: 180px
}
#startBtn:hover {
  background-color: blue; /* Green */
  color: white;
}
#snakeboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#score {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 140px;
}
